.scanBill-main{
    background-color: var(--whiteSome);
}
.ScanBillComp-Invoice-btn{
    display: flex;
    justify-content: end;
    width:92%;
}
.ScanBillComp-Parent{
    display: flex;
    width: 95%;
    background-color: var(--lightrose);
    height: 60px;
    box-shadow: 0px 0px 5px var(--lightgray);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 10px;

}
.ScanBillComp-Parent-two{
    display: flex;
    width: 95%;
    background-color: var(--lightrose);
    height: 100px;
    box-shadow: 0px 0px 5px var(--lightgray);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 10px;
}
.Delete-Icon{
    background-color: var(--red);
    border: 2px solid white;
    padding: 6px;
    border-radius: 5px;
}

.ScanBillComp-main{
    display: flex;
    justify-content: center;
    margin-top: 7px;
}
.ScanBillComp-CustomerDetails{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
.Button-blue{
    color:var(--white);
    background-color: var(--secondary);
    height: 40px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 17px;
}
.Button-blue-three{
    color:var(--white);
    background-color: var(--green);
    height: 40px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 17px;
}
.Close-Scanner-div{
    display: flex;
    justify-content: end;
    width: 95%;
}
.ScanBillComp-Button-btn{
    display: flex;
    justify-content: end;
    width: 93%;
    padding: 10px;
}
.ScanBillComp-SecondDiv{
    width: 25%;
    min-width: 350px;
}
.scan-bill-form{
    display: flex;
    align-items: center;
    height: 100%;
}
.Barcode-div{
    height: 200px;
    width: 300px;
    box-shadow: 0px 0px 7px var(--lightgray);
    margin: 1%;
}
.Barcode-div-two{
    height: 200px;
    width: 230px;
    box-shadow: 0px 0px 7px var(--lightgray);
    margin: 1%;
}
.Barcode-scan-button-div{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}
.Barcode-scan-button{
    border: none;
    background-color: var(--lightsecondary);
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    color: var(--secondary);
    border-radius: 5px;
}

.Scanner-Container{
    display: flex;
    justify-content: center;
}
.img-no-data{
    height: 200px;
    width: 220px;
}
.img-no-data-div{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 950px)  {
    .ScanBillComp-Parent{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 96%;
        height: 150px;
        background-color: var(--lightrose);

    }
    .ScanBillComp-Parent-two{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 95%;
        height: 90px;

    }

  
}

@media only screen and (max-width: 600px)  {
    .Barcode-div{
        height: 160px;
        width: 280px;
    }
    .Barcode-div-two{
        height: 300px;
        width: 310px;
    }
    
  
}