:root{
    --primary:#37393D;
    --secondary:#ff5200;
    --lightsecondary:#ffeae0;
    -- :#897CF7;
    --lightgreen:#1EC6CB;
    --grey:grey;
    --white:#fff;
    --lightgray:rgb(199, 195, 195);
    --lightsandle:#FFF9F5;
    --whiteSome:whitesmoke;
    --green:rgb(0, 165, 0);
    --red:red;
    --lightblue:#F8FCFF;
    --thickblue:rgb(17, 0, 100);
    --lightrose:#fbe4da;
}
* {
  margin: 0px;
  padding: 0px;
}

.App-Parent{
  background-color: var(--whiteSome);
  height: 100vh;
}
*::-webkit-scrollbar{
  /* display: none; */
}

.tableScroll-container{
  height: 100%;
  overflow: scroll;
}

.tableScroll-container::-webkit-scrollbar {
  /* display: none; */
}

.mgl{
  margin-left: 10px;
}

.ViewAgentComponent-Table-Div{
  height: 60vh;
  width: 70%;
  overflow: scroll;
}



.Component-Table-Div{
  height: 53vh;
  width: 95%;
  overflow: scroll;
}

.InvoiceProcessComp-table{
  display: flex;
  justify-content: center;
}
.ViewAgentComponent-Table-Div::-webkit-scrollbar{
  /* display: none; */
}
.Component-Table-Div::-webkit-scrollbar{
  /* display: none; */
}

.flex{
  display: flex;
  flex-wrap: wrap-reverse;
  margin-top: 10px;
  justify-content: center;
}

.mgt{
  margin-top: 10px;
}

.pd{
  padding: 7px;
}
.mg{
  margin: 10px;
}

.InvoiceProcessComp-Down-main{
  display: flex;
  flex-wrap: wrap-reverse;
  margin-top: 5px;
  justify-content: center;
}
.blur-class{
  filter: blur(5px);
}

@media only screen and (max-width: 600px) {
  .ViewAgentComponent-Table-Div{
      height: 31vh;
      width: 83vw;
      overflow: scroll;
  }
  .Component-Table-Div{
    height: 34vh;
    width: 95%;
    overflow: scroll;
    }
  .InvoiceProcessComp-Down-main{
    margin-top: 5px;
  }

}

@media only screen and (min-width: 600px) {
 
  .ViewAgentComponent-Table-Div::-webkit-scrollbar{
    display: none;
  }
  .Component-Table-Div::-webkit-scrollbar{
    display: none;
  }
  .tableScroll-container::-webkit-scrollbar {
    display: none;
  } 
}




